<a href="https://colab.research.google.com/github/328prashant16/mlpweek2/blob/main/week_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [115]:
import numpy as np
import pandas as pd

load the nutrition dataset as a pandas dateframe.

In [116]:
df = pd.read_csv("/content/nutrition (1).csv")

In [117]:
df.head(3)

,Unnamed: 0,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
0,0,Cornstarch,100 g,381,0.1g,NaN,0,9.00 mg,0.4 mg,0.00 mcg,...,0.05 g,0.009 g,0.016 g,0.025 g,0.00 mg,0.0 g,0.09 g,0.00 mg,0.00 mg,8.32 g
1,1,"Nuts, pecans",100 g,691,72g,6.2g,0,0.00 mg,40.5 mg,22.00 mcg,...,71.97 g,6.180 g,40.801 g,21.614 g,0.00 mg,0.0 g,1.49 g,0.00 mg,0.00 mg,3.52 g
2,2,"Eggplant, raw",100 g,25,0.2g,NaN,0,2.00 mg,6.9 mg,22.00 mcg,...,0.18 g,0.034 g,0.016 g,0.076 g,0.00 mg,0.0 g,0.66 g,0.00 mg,0.00 mg,92.30 g

In [118]:
df.tail(3)

,Unnamed: 0,name,serving_size,calories,total_fat,saturated_fat,cholesterol,sodium,choline,folate,...,fat,saturated_fatty_acids,monounsaturated_fatty_acids,polyunsaturated_fatty_acids,fatty_acids_total_trans,alcohol,ash,caffeine,theobromine,water
8786,8786,"Lamb, raw, separable lean and fat, composite o...",100 g,277,23g,12g,78mg,39.00 mg,0,1.00 mcg,...,22.74 g,11.570 g,8.720 g,0.980 g,78.00 mg,0,0.92 g,0,0,59.80 g
8787,8787,"Beef, raw, all grades, trimmed to 0"" fat, sepa...",100 g,121,3g,1.1g,60mg,53.00 mg,64.2 mg,4.00 mcg,...,3.04 g,1.086 g,1.266 g,0.233 g,60.00 mg,0.0 g,1.10 g,0.00 mg,0.00 mg,73.43 g
8788,8788,"Beef, raw, all grades, trimmed to 0"" fat, sepa...",100 g,121,3g,1.1g,60mg,53.00 mg,64.2 mg,4.00 mcg,...,3.04 g,1.086 g,1.266 g,0.233 g,60.00 mg,0.0 g,1.10 g,0.00 mg,0.00 mg,73.43 g

In [119]:
df.shape

(8789, 77)

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8789 entries, 0 to 8788
Data columns (total 77 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   8789 non-null   int64
 1   name                         8789 non-null   object
 2   serving_size                 8789 non-null   object
 3   calories                     8789 non-null   int64
 4   total_fat                    8789 non-null   object
 5   saturated_fat                7199 non-null   object
 6   cholesterol                  8789 non-null   object
 7   sodium                       8789 non-null   object
 8   choline                      8789 non-null   object
 9   folate                       8789 non-null   object
 10  folic_acid                   8789 non-null   object
 11  niacin                       8789 non-null   object
 12  pantothenic_acid             8789 non-null   object
 13  riboflavin                   8789 non-null   object
 14  thiamin                      8789 non-null   object
 15  vitamin_a                    8789 non-null   object
 16  vitamin_a_rae                8789 non-null   object
 17  carotene_alpha               8789 non-null   object
 18  carotene_beta                8789 non-null   object
 19  cryptoxanthin_beta           8789 non-null   object
 20  lutein_zeaxanthin            8789 non-null   object
 21  lucopene                     8789 non-null   int64
 22  vitamin_b12                  8789 non-null   object
 23  vitamin_b6                   8789 non-null   object
 24  vitamin_c                    8789 non-null   object
 25  vitamin_d                    8789 non-null   object
 26  vitamin_e                    8789 non-null   object
 27  tocopherol_alpha             8789 non-null   object
 28  vitamin_k                    8789 non-null   object
 29  calcium                      8789 non-null   object
 30  copper                       8789 non-null   object
 31  irom                         8789 non-null   object
 32  magnesium                    8789 non-null   object
 33  manganese                    8789 non-null   object
 34  phosphorous                  8789 non-null   object
 35  potassium                    8789 non-null   object
 36  selenium                     8789 non-null   object
 37  zink                         8789 non-null   object
 38  protein                      8789 non-null   object
 39  alanine                      8789 non-null   object
 40  arginine                     8789 non-null   object
 41  aspartic_acid                8789 non-null   object
 42  cystine                      8789 non-null   object
 43  glutamic_acid                8789 non-null   object
 44  glycine                      8789 non-null   object
 45  histidine                    8789 non-null   object
 46  hydroxyproline               8789 non-null   object
 47  isoleucine                   8789 non-null   object
 48  leucine                      8789 non-null   object
 49  lysine                       8789 non-null   object
 50  methionine                   8789 non-null   object
 51  phenylalanine                8789 non-null   object
 52  proline                      8789 non-null   object
 53  serine                       8789 non-null   object
 54  threonine                    8789 non-null   object
 55  tryptophan                   8789 non-null   object
 56  tyrosine                     8789 non-null   object
 57  valine                       8789 non-null   object
 58  carbohydrate                 8789 non-null   object
 59  fiber                        8789 non-null   object
 60  sugars                       8789 non-null   object
 61  fructose                     8789 non-null   object
 62  galactose                    8789 non-null   object
 63  glucose                      8789 non-null   object
 64  lactose                      8789 non-null   object
 65  maltose                      8789 non-null   object
 66  sucrose                      8789 non-null   object
 67  fat                          8789 non-null   object
 68  saturated_fatty_acids        8789 non-null   object
 69  monounsaturated_fatty_acids  8789 non-null   object
 70  polyunsaturated_fatty_acids  8789 non-null   object
 71  fatty_acids_total_trans      8789 non-null   object
 72  alcohol                      8789 non-null   object
 73  ash                          8789 non-null   object
 74  caffeine                     8789 non-null   object
 75  theobromine                  8789 non-null   object
 76  water                        8789 non-null   object
dtypes: int64(3), object(74)
memory usage: 5.2+ MB

drop the columns 'Unnamed: 0', 'name', 'serving_size'.
If we want to use 'calories' as the target variable, separate features and calories.
How many samples and features are there in the datase

In [121]:
df= df.drop(['Unnamed: 0', 'name', 'serving_size'],axis=1)

In [122]:
df.shape

(8789, 74)

In [123]:
X=df.drop(['calories'],axis=1)

In [124]:
y=df['calories']

In [125]:
X.shape

(8789, 73)

In [126]:
y.shape

(8789,)

Remove the units of all the values.

In [127]:
X=X.replace('[a-zA-Z]', '',regex=True).astype(float)

Split the dataset into training and test data with test size of 0.2 and random state 1.

In [128]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.model_selection import GridSearchCV, cross_validate, ShuffleSplit

In [129]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state =1)

Create a pipeline to fill the missing values with 0 and to apply the standard scaling.
Create a pipeline for the above mentioned preprocessing and MLPRegressor (with default
parameters).

In [130]:
pipe = Pipeline([('impute',SimpleImputer(strategy ="constant",fill_value = 0)),('scaler',StandardScaler())])

In [131]:
clf = Pipeline([('preprocess',pipe),('classifier',MLPRegressor())])

In [132]:
clf.fit(X_train,y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Pipeline(steps=[('preprocess',
                 Pipeline(steps=[('impute',
                                  SimpleImputer(fill_value=0,
                                                strategy='constant')),
                                 ('scaler', StandardScaler())])),
                ('classifier', MLPRegressor())])

Calculate coefficient of determination R^2  on both training and test dataset.

In [133]:
clf.score(X_train,y_train)

0.9966325170727026

In [134]:
clf.score(X_test,y_test)

0.9936528450972614

In [135]:
print(clf.predict(X_train)[:5])

[ 62.21609054 224.92920925 182.26874221 379.08825638 186.01610377]

In [136]:
print(y_test[:5])

8785    206
8483    313
6955    413
6702    176
6012    198
Name: calories, dtype: int64

use GridSearchCV on MLPRegressor with following property.

Hyper-parameters to tune:

learning_rate=['constant','invscaling']

alpha = (1e-4, 1e-3, 1e-2)

hidden_layer_sizes = [(10, 1), (10, 10), (10, 10, 10)]

Regressor should have following parameters:

learning_rate_init=0.01,

tol=1e-2,

max_iter=10000,

solver='adam'

Use cv = 3

In [137]:
X_train_new = pipe.fit_transform(X_train)

In [138]:
learning_rate = ['constant','invscaling']
alpha = (1e-4,1e-3,1e-2)
hidden_layer_sizes=[(10,1),(10,10),(10,10,10)]

In [139]:
parameters = dict(learning_rate=learning_rate,alpha=alpha,hidden_layer_sizes=hidden_layer_sizes)
grid = GridSearchCV(MLPRegressor(learning_rate_init=0.01,tol = 1e-2,max_iter=10000,solver='adam'),cv=3,param_grid = parameters)

In [114]:
grid.fit(X_train_new,y_train)

GridSearchCV(cv=3,
             estimator=MLPRegressor(learning_rate_init=0.01, max_iter=10000,
                                    tol=0.01),
             param_grid={'alpha': (0.0001, 0.001, 0.01),
                         'hidden_layer_sizes': [(10, 1), (10, 10),
                                                (10, 10, 10)],
                         'learning_rate': ['constant', 'invscaling']})

Get the best parameters, estimator and score obtained by the above HPT.

In [ ]:
grid.best_params_

In [ ]:
grid.best_score_

In [143]:
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=42)
cv_results = cross_validate(clf,
X_train,
y_train,
cv=cv,
scoring="neg_mean_squared_error",
return_train_score=True,
return_estimator=True,
n_jobs=2)

In [144]:
mlp_train_error = -1 * cv_results['train_score']
mlp_test_error = -1 * cv_results['test_score']
print(f"Mean squared error of regression model on the train set:\n"
f"{mlp_train_error.mean():.3f} +/- {mlp_train_error.std():.3f}")
print(f"Mean squared error of regression model on the test set:\n"
f"{mlp_test_error.mean():.3f} +/- {mlp_test_error.std():.3f}")

Mean squared error of regression model on the train set:
135.165 +/- 13.109
Mean squared error of regression model on the test set:
296.103 +/- 103.494